[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
log_output=TABLE

general_log_file=/var/lib/mysql/general_log

slow_query_log=ON
slow_query_log_file=/var/lib/mysql/slow_log
long_query_time=1.0

[client]
default-character-set=utf8mb4
