extends ../layout

block content
  h1 Login

  form(method='post' action='/_auth/login')
    div
      label(for='screen-name-input') Username:
      input(type='text' name='username' id='screen-name-input')
    div
      label(for='password-input') Password:
      input(t ype='text' name='password' id='password-input')
    button Login
  firebaseui-auth-container
  loader
    p Loading...



