extends ../../layout

block content
  h1 ユーザー登録確認

  form(method='post' action='/_admin/user/create')
    div
      label(for='screen-name-input') Username:
      p #{username}
    div
      label(for='password-input') Password:
      p #{password}
      input(type='hidden' name='username' value='#{username}')
      input(type='hidden' name='password' value='#{password}')
    button Create
